@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="text-align: center;">
        
        <h2>Welcome to the Test Result Compilation Application!</h2>
        <p>This tool is designed to help you collect and consolidate test results from multiple files into a single, organized document. Whether you have test reports in various formats or from different sources, this application simplifies the process of aggregating the information.</p>
        
        
        <p>Thank you for using the Test Result Compilation Application! If you have any questions or encounter any issues, feel free to reach out for assistance. Happy testing!</p>
    </div>
    <a href="" class="btn btn-primary btn-lg mt-5">Learn More</a>
</div>
